*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(210, 228, 214);
}

.App{
    padding: 20px;
    
}