*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 100vh;
}
.App{
padding: 20px;
text-align: center;

justify-content: center;
display: flex;
}
.greeting{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 0 0 0 rgb();
    
}

.greeting p:last-child{
    color: purple;
}