*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #fff;
}
.App{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(61, 126, 80);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,
0.1);
}
.header{
  text-align: center;
  margin-bottom: 20px;

}
.header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.header p{
  color: #f2fff2;
  font-weight: bold;
}
.skills{
  margin-bottom: 20px;
}
.skills h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.skills ul {
  list-style-type: square;
  padding-left: 20px;
}
.skills li {
  margin-bottom: 5px;
}
.location{
  margin-bottom: 20px;
}
.location h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.location p {
  line-height: 1.6;
}
.footer{
  text-align: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer li {
  display: inline;
  margin: 0 10px;
}
.footer a {
  text-decoration: none;
  color: #f2fff2;
}
.footer a:hover {
  color: #b3e8b3;
  text-decoration: underline;
}
