*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #008751;
}

.app {
  font-family: Arial, sans-serif;
  background-color: #d3c3c3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.states-container {
  max-width: 420px;
  background: rgb(217, 217, 217);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.states-container h1 {
  color: #008751;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
}

.buttons button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #008751;
  color: white;
}

.buttons .active {
  background-color: #008751;
  color: white;
}

.list p {
  margin: 5px 0;
}

.count {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
