.counterContainer{
    padding: 10px 15px;
    background-color: bisque;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.counterContainer button{
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    border-left: 2px solid blueviolet;
}
.counterContainer button:hover{
    background-color: burlywood;
    color: white;
}