* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 168, 121);
}

h3 {
  position: absolute;
  top: 0;
  left: 0;
}
