*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(97, 67, 30);
}
.App{
    padding: 20px;   
}

.App h1{
    color: #fff;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    position: absolute;
}
